1994-04-15_Utdrag DAFA om SL-kort mm_DH-16165.pdf
1994-04-15_Utdrag DAFA om SL-kort mm_DH-16165.pdf_corrected.txt
1994-04-15_Utdrag DAFA om SL-kort mm_DH-16165.pdf_original.txt
1994-04-15_Utdrag DAFA om SL-kort mm_DH-16165.pdf.txt
PDF/(13) pol-1986-03-01-E20-Karin-Johansson.pdf
PDF/(13) pol-1986-03-01-E20-Karin-Johansson.pdf_corrected.txt
PDF/(13) pol-1986-03-01-E20-Karin-Johansson.pdf_original.txt
PDF/1986-03-07_Taxichaufför Hans Hongelin om märket på bilen EAE-250-00-E.pdf
PDF/1986-03-07_Taxichaufför Hans Hongelin om märket på bilen EAE-250-00-E.pdf_corrected.txt
PDF/1986-03-07_Taxichaufför Hans Hongelin om märket på bilen EAE-250-00-E.pdf_original.txt
PDF/1986-03-07_Taxichaufför Hans Hongelin om märket på bilen EAE-250-00-E.pdf.txt
PDF/1986-03-08_Bengt_Jonassons_vapenärende_1986.pdf
PDF/1986-03-08_Bengt_Jonassons_vapenärende_1986.pdf_corrected.txt
PDF/1986-03-08_Bengt_Jonassons_vapenärende_1986.pdf_original.txt
PDF/1991-03-11-Tips-D-13766-00.pdf
PDF/1991-03-11-Tips-D-13766-00.pdf_corrected.txt
PDF/1991-03-11-Tips-D-13766-00.pdf_original.txt
PDF/1991-03-11-Tips-D-13766-00.pdf.txt
PDF/1994-04-07_Spaning och Kontroll av fastighet m ägare_DH-16158.pdf
PDF/1994-04-07_Spaning och Kontroll av fastighet m ägare_DH-16158.pdf_corrected.txt
PDF/1994-04-07_Spaning och Kontroll av fastighet m ägare_DH-16158.pdf_original.txt
PDF/1994-04-07_Spaning och Kontroll av fastighet m ägare_DH-16158.pdf.txt
PDF/1994-04-08_Kontroll innehav postbox_DH-16159.pdf
PDF/1994-04-08_Kontroll innehav postbox_DH-16159.pdf_corrected.txt
PDF/1994-04-08_Kontroll innehav postbox_DH-16159.pdf_original.txt
PDF/1994-04-08_Kontroll innehav postbox_DH-16159.pdf.txt
PDF/1994-04-08_Spaning efter GF telefonsamtal och slagning.pdf
PDF/1994-04-08_Spaning efter GF telefonsamtal och slagning.pdf_corrected.txt
PDF/1994-04-08_Spaning efter GF telefonsamtal och slagning.pdf_original.txt
PDF/1994-04-08_Spaning efter GF telefonsamtal och slagning.pdf.txt
PDF/1994-04-12_Kontroll med polisen i Danmark spaning efter GF_DH-16162.pdf
PDF/1994-04-12_Kontroll med polisen i Danmark spaning efter GF_DH-16162.pdf_corrected.txt
PDF/1994-04-12_Kontroll med polisen i Danmark spaning efter GF_DH-16162.pdf_original.txt
PDF/1994-04-12_Kontroll med polisen i Danmark spaning efter GF_DH-16162.pdf.txt
PDF/1994-04-14_Kontroll patent och registreringsverket GF_DH-16164.pdf
PDF/1994-04-14_Kontroll patent och registreringsverket GF_DH-16164.pdf_corrected.txt
PDF/1994-04-14_Kontroll patent och registreringsverket GF_DH-16164.pdf_original.txt
PDF/Temp0/(13) pol-1986-03-01-E20-Karin-Johansson.pdf.txt
PDF/Temp0/1986-03-07_Taxichaufför Hans Hongelin om märket på bilen EAE-250-00-E.pdf.txt
PDF/Temp0/1986-03-08_Bengt_Jonassons_vapenärende_1986.pdf.txt
PDF/Temp0/1991-03-11-Tips-D-13766-00.pdf.txt
PDF/Temp0/1994-04-07_Spaning och Kontroll av fastighet m ägare_DH-16158.pdf.txt
PDF/Temp0/1994-04-08_Kontroll innehav postbox_DH-16159.pdf.txt
PDF/Temp0/1994-04-08_Spaning efter GF telefonsamtal och slagning.pdf.txt
PDF/Temp0/1994-04-12_Kontroll med polisen i Danmark spaning efter GF_DH-16162.pdf.txt
PDF/Temp0/1994-04-14_Kontroll patent och registreringsverket GF_DH-16164.pdf.txt
CorrectTextFromPDF_refactored.py
